<div class="container ">
	<div class="row justify-content-md-end">
		<div class="col-xs-12 col-sm-12 col-md-12 make-small make-same">
			<div class="left-side">
				<div class="color-left-scroller">
					<h4>All Docs</h4>
					<div class="side-nav">
						<ul class="cd-accordion-menu animated">
							<li class="has-children">
								<input type="checkbox" name ="group-1" id="group-1" checked>
								<label for="group-1">Authentication Services</label>
								<ul>
									<li><a class="active">Before you Begin</a></li>
									<li><a>Understanding the Request Headers</a></li>
									<li><a>Generating Authentication Token</a></li>
									<li><a>Sending an API Request</a></li>
								</ul>
							</li>
							<li class="has-children">
								<input type="checkbox" name ="group-2" id="group-2">
								<label for="group-2">Entity Services</label>
								<ul>
									<li><a href="#0">demo link</a></li>
									<li><a href="#0">demo link</a></li>
								</ul>
							</li>
							<li class="has-children">
								<input type="checkbox" name ="group-3" id="group-3">
								<label for="group-3">Entity Model Services</label>
								<ul>
									<li><a href="#0">Image</a></li>
									<li><a href="#0">Image</a></li>
								</ul>
							</li>
							<li class="has-children">
								<input type="checkbox" name ="group-4" id="group-4">
								<label for="group-4">Entity Govern Services</label>
								<ul>
									<li><a href="#0">Image</a></li>
									<li><a href="#0">Image</a></li>
								</ul>
							</li>
							<li class="has-children">
								<input type="checkbox" name ="group-5" id="group-5">
								<label for="group-5">Entity Import Services</label>
								<ul>
									<li><a href="#0">Image</a></li>
									<li><a href="#0">Image</a></li>
								</ul>
							</li>
							<li class="has-children">
								<input type="checkbox" name ="group-6" id="group-6">
								<label for="group-6">Entity Export Services</label>
								<ul>
									<li><a href="#0">Image</a></li>
									<li><a href="#0">Image</a></li>
								</ul>
							</li>
							<li class="has-children">
								<input type="checkbox" name ="group-7" id="group-7">
								<label for="group-7">Configuration Services</label>
								<ul>
									<li><a href="#0">Image</a></li>
									<li><a href="#0">Image</a></li>
								</ul>
							</li>
							<li class="has-children">
								<input type="checkbox" name ="group-8" id="group-8">
								<label for="group-8">Match Search Services</label>
								<ul>
									<li><a href="#0">Image</a></li>
									<li><a href="#0">Image</a></li>
								</ul>
							</li>
							<li class="has-children">
								<input type="checkbox" name ="group-9" id="group-9">
								<label for="group-9">Request Tracking Services</label>
								<ul>
									<li><a href="#0">Image</a></li>
									<li><a href="#0">Image</a></li>
								</ul>
							</li>
							<li class="has-children">
								<input type="checkbox" name ="group-10" id="group-10">
								<label for="group-10">Binary Object Services</label>
								<ul>
									<li><a href="#0">Image</a></li>
									<li><a href="#0">Image</a></li>
								</ul>
							</li>
							<li class="has-children">
								<input type="checkbox" name ="group-11" id="group-11">
								<label for="group-11">Event Services</label>
								<ul>
									<li><a href="#0">Image</a></li>
									<li><a href="#0">Image</a></li>
								</ul>
							</li>
							<li class="has-children">
								<input type="checkbox" name ="group-12" id="group-12">
								<label for="group-12">Binary Stream Object Service</label>
								<ul>
									<li><a href="#0">Image</a></li>
									<li><a href="#0">Image</a></li>
								</ul>
							</li>
							<li class="has-children">
								<input type="checkbox" name ="group-13" id="group-13">
								<label for="group-13">Entity Graph Service</label>
								<ul>
									<li><a href="#0">Image</a></li>
									<li><a href="#0">Image</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="right-side">
				<div class="breadcrumb">
					<ul>
						<li><%= link_to "Home", get_user_target_url_with_relative_url %></li>
						<li><%= link_to "Developer", developer_users_path %></li>
						<li>
							<a>Doc <i class="fa fa-caret-down" aria-hidden="true"></i></a>
							<div class="arrow_box">
								<ul>
									<li><a>Developer</a></li>
									<li><a>Developer</a></li>
								</ul>
							</div>
						</li>
					</ul>
					<div class="other-options">
						<div class="next-prev"><a class="prev-next" title="Previous Page"><%= image_tag "prev-icon.png" %></a><a class="prev-next" title="Next Page"><%= image_tag "next-icon.png" %></a></div>
						<div class="print-option"><a title="Print" class="print-bt"><%= image_tag "print-icon.png" %></a></div>
						<div class="pdf-option"><a title="PDF" class="pdf-bt"><%= image_tag "pdf-icon.png" %></a></div>
					</div>
				</div>
				<div class="full-box">
					<div class="loop-box">
						<h2><strong>Get Started</strong></h2>
						<p>
							The primary objective of RDP is to facilitate relevant, trust, and insights on your data through a Data Continuum solution in <strong>Master Data Management (MDM 2.0)</strong>. Data flows in various forms in exploding volume and velocity from various sources and often is heterogeneous in nature. It can be structured data such as customer data or an unstructured data such as a binary files or stream data. See <a>Data Classification</a>, for more information on how data is classified in RDP. Hence, the objective is to achieve maximum benefits of the volume, velocity, and variety of data to enhance the productivity and efficiency. <strong>Riversand Data Framework</strong> provides the building blocks to handle Data in RDP.
						</p>
					</div>
					<div class="loop-box">
						<h2>What constitutes RDF?</h2>
						<p>
							It includes a set of services in the SDK that interact with each other to provide the required business functionality. Exposed services such as Data Services are RESTful in nature and you can leverage these services along with the Riversand User Interface Framework to build Custom Apps based on your business requirements. See Data Framework Architecture, to learn more about the architecture of RDF.
						</p>
					</div>
					<div class="loop-box">
						<h2>Who can use RDF and How to use RDF?</h2>
						<p>
							Based on your requirement, RDF can be used by App Developers and System Integrators.
						</p>
						<ul class="blue-txt">
							<li>RDF for App Developers: As an App developer, using RDF, you can leverage the RESTful services along with UI Element Catalog from the Riversand User Interface Framework to build Custom Apps based on your business requirements. See RDP for Developers, for more information on step-by-step instruction on how as a developer you can use RDP to create custom Apps.</li>
							<li>RDF for System Integrators: As a System Integrator, using RDF, you can leverage the RESTful services to integrate with the external systems to send data to RDP and export the data from RDP. See RDP for System Integrators</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>