<div class="padding-content">
  <div class="get-content">
    <h3>Get Started</h3>
    <ul class="get-ul">
      <li>
        <div class="get-block yellow-border">
          <a href="javascript:;">
            <div class="center-block">
              <figure>
                <%= image_tag "gs1.png",width: "100", height: "60" %>
              </figure>
              <figcaption>Getting Started</figcaption>
            </div>
          </a>
        </div>
      </li>
      <li>
        <div class="get-block orange-border">
          <a href="javascript:;">
            <div class="center-block">
              <figure>
                <%= image_tag "gs2.png",width: "100", height: "60" %>
              </figure>
              <figcaption>Setup & Install</figcaption>
            </div>
          </a>
        </div>
      </li>
      <li>
        <div class="get-block purple-border">
          <a href="javascript:;">
            <div class="center-block">
              <figure>
                <%= image_tag "gs3.png",width: "100", height: "60" %>
              </figure>
              <figcaption>Get familiarise with App UI</figcaption>
            </div>
          </a>
        </div>
      </li>
      <li>
        <div class="get-block blue-border">
          <a href="javascript:;">
            <div class="center-block">
              <figure>
                <%= image_tag "gs4.png",width: "100", height: "60" %>
              </figure>
              <figcaption>Release notes</figcaption>
            </div>
          </a>
        </div>
      </li>
    </ul>
  </div>
  <div class="get-content">
    <h3>Administrative Tasks</h3>
    <ul class="get-ul">
      <li>
        <div class="get-block blue-border">
          <a href="javascript:;">
            <div class="center-block">
              <figure>
                <%= image_tag "at1.png",width: "100", height: "60" %>
              </figure>
              <figcaption>Configure variuos apps, layouts, menu’s, dashets, Business rules & more..
              </figcaption>
            </div>
          </a>
        </div>
      </li>
      <li>
        <div class="get-block purple-border">
          <a href="javascript:;">
            <div class="center-block">
              <figure>
                <%= image_tag "at2.png",width: "100", height: "60" %>
              </figure>
              <figcaption>Create new users & groups & granting permissisons to application & data & more..</figcaption>
            </div>
          </a>
        </div>
      </li>
      <li>
        <div class="get-block yellow-border">
          <a href="javascript:;">
            <div class="center-block">
              <figure>
                <%= image_tag "at3.png",width: "100", height: "60" %>
              </figure>
              <figcaption>Upload data model</figcaption>
            </div>
          </a>
        </div>
      </li>
      <li>
        <div class="get-block orange-border">
          <a href="javascript:;">
            <div class="center-block">
            <figure><%= image_tag "at4.png",width: "100", height: "60" %></figure>
            <figcaption>Import & export data</figcaption>
          </div>
          </a>
        </div>
      </li>
      <li>
        <div class="get-block red-border">
          <a href="javascript:;">
            <div class="center-block">
            <figure><%= image_tag "at5.png",width: "100", height: "60" %></figure>
            <figcaption>Monitor batch jobs</figcaption>
            </div>
          </a>
        </div>
      </li>
      <li>
        <div class="get-block green-border">
          <a href="javascript:;">
            <div class="center-block">
              <figure><%= image_tag "at6.png",width: "100", height: "60" %></figure>
              <figcaption>Design workflows</figcaption>
            </div>
          </a>
        </div>
      </li>
      <li>
        <div class="get-block grey-border">
          <a href="javascript:;">
            <div class="center-block">
              <figure><%= image_tag "at7.png",width: "100", height: "60" %></figure>
              <figcaption>Define dynamic governance policies</figcaption>
            </div>
          </a>
        </div>
      </li>
    </ul>
  </div>
  <div class="get-content">
    <h3>All Apps to Manage Business</h3>
    <ul class="get-ul">
      <li>
        <div class="get-block grey-border">
          <a href="javascript:;">
            <div class="center-block">
              <figure><%= image_tag "mb1.png",width: "100", height: "60" %></figure>
              <figcaption>User Dashboard App
                <p>Manage your tasks</p>
              </figcaption>
            </div>
          </a>
        </div>
      </li>
      <li>
        <div class="get-block orange-border">
          <a href="javascript:;">
            <div class="center-block">
              <figure><%= image_tag "mb2.png",width: "100", height: "60" %></figure>
              <figcaption>Entity Search & Refine App
                <p>Search your data</p>
              </figcaption>
            </div>
          </a>
        </div>
      </li>
      <li>
        <div class="get-block red-border">
          <a href="javascript:;">
            <div class="center-block">
              <figure><%= image_tag "mb3.png",width: "100", height: "60" %></figure>
              <figcaption>Asset Search & Refine App
                <p>Search your digital assets</p>
              </figcaption>
            </div>
          </a>
        </div>
      </li>
      <li>
        <div class="get-block green-border">
          <a href="javascript:;">
            <div class="center-block">
              <figure><%= image_tag "mb4.png",width: "100", height: "60" %></figure>
              <figcaption>Reference Search & Refine App
                <p>Manage your reference data</p>
              </figcaption>
            </div>
          </a>
        </div>
      </li>
      <li>
        <div class="get-block blue-border">
          <a href="javascript:;">
            <div class="center-block">
              <figure><%= image_tag "mb5.png",width: "100", height: "60" %></figure>
              <figcaption>Entity Manage App
                <p>Manage your data</p>
              </figcaption>
            </div>
          </a>
        </div>
      </li>
      <li>
        <div class="get-block yellow-border">
          <a href="javascript:;">
            <div class="center-block">
              <figure><%= image_tag "mb6.png",width: "100", height: "60" %></figure>
              <figcaption>System Health Check</figcaption>
            </div>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>