<!DOCTYPE html>
<html>
<head>
  <title>Jekyll Integration app</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if Rails.env.production? %>
    <base href="/ror/sso_client/" />
  <% end %>
  <%= yield :cdn_code %>
  <%= javascript_include_tag '//cdn.auth0.com/js/lock/10.0.0/lock.min.js' %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="hand-over"></div>
  <%= render  'layouts/header' %>
  <%= render 'layouts/sidebar' %>
  <div class="page-wapper">
    <div class="container-fluid">
      <div class="row justify-content-end">
        <div class="col-xs-12 col-sm-10 col-md-10">
          <div class="left-panel padding-div">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
