<!DOCTYPE html>
<html>
<head>
  <title>Jekyll Integration app</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if Rails.env.production? %>
    <base href="/ror/sso_client/" />
  <% end %>
  <%= yield :cdn_code %>
  <%= javascript_include_tag '//cdn.auth0.com/js/lock/10.0.0/lock.min.js' %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= stylesheet_link_tag    'developer_layout', media: 'all'%>
  <%= javascript_include_tag 'developer_layout' %>
  <%= csrf_meta_tags %>
</head>
<body class="white-bg">
  <div id="hand-over"></div>
  <%= render  'layouts/header' %>
  <div class="page-wapper give-height o-wrapper no-paading-top" id="o-wrapper">
    <div id="top-banner">
      <div class="image-banner" id="db_one">
          <div class="up-info">
              <div class="container">
                  <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                          Explore our Developers' Products
                      </div>
                  </div>
              </div>
          </div>
          <%= image_tag "db1.jpg" %>
      </div>
      <div class="image-banner" id="db_two">
          <div class="up-info">
              <div class="container">
                  <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                          Explore our Developers' Documentation
                      </div>
                  </div>
              </div>
          </div>
          <%= image_tag "db2.jpg" %>
      </div>
      <div class="image-banner" id="db_three">
          <div class="up-info">
              <div class="container">
                  <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                          Explore our Developers' Tools
                      </div>
                  </div>
              </div>
          </div>
          <%= image_tag "db3.jpg" %>
      </div>
      <div class="image-banner" id="db_four">
          <div class="up-info">
              <div class="container">
                  <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                          Connect to our Developers' world
                      </div>
                  </div>
              </div>
          </div>
          <%= image_tag "db4.jpg" %>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="left-panel">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  <%= render 'layouts/footer' %>
  </div>
  <!-- Modal -->
  <div id="video_modal" class="modal fade" role="dialog">
    <div class="modal-dialog model-lg">
      <div class="modal-content">
        <div class="modal-body">
          <iframe allowfullscreen="" width="100%" height="400" frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </div>
  <!-- End modal -->
  <%= render 'layouts/sidebar' %>
  <div id="c-mask" class="c-mask"></div>
</body>
</html>
